@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    display: flex;
    background-color: #333;
    color: #fff;
    text-align: center;
    justify-content: center;
    padding: 50px 0;
    padding-inline: 15px;
}

.info {
    display: block;
    padding-left: 30px;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section:hover {
    scale: 1.03;
}

img {
    width: 200px;
    height: auto;
    border-radius: 10px;
}

h1 {
    color: rgb(255, 255, 255);
}

h2 {
    color: gray;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-top: 20px;
}

p {
    font-size: 15px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

@media (max-width: 400px) {
    img {
        width: 150px;
    }

    h1 {
        font-size: 15px;
    }
}